html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

a {
    color: #fff;
    padding: 0.5em 1em;
}

a:hover {
    color: #fff;
}

.App {
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f3f3f3;
}

.around {
    background: linear-gradient(135deg, #2ad682, #265e9b);
    height: 100%;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App h1 {
    margin-top: 1em;
}

.App h2 {
    font-size: 40px;
}

.account-buttons {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    height: 3em;
}

.accounts-buttons a {
    text-decoration: none;
    padding: 0.9em 3em;
    border-radius: 3px;
    color: #fff;
    border: none;
    font-size: 18px;
    margin-left: 1em;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid #f2f2f2;
    font-family: 'Lato', sans-serif;
    background: none;
}

.accounts-buttons a:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #f2f2f2;
    color: #404040;
}

.login, .signup {
    text-align: left;
    width: 40%;
}

div.form-row {
    justify-content: space-between;
    margin-right: 0;
}

.has-success label.bmd-label-floating {
    color: #fff;
}

input.form-control {
    color: #fff;
    padding: 0 0.7em 0.2em 0.7em;
    font-size: 18px;
    background: none;
}

input.form-control:focus {
    color: #fff;
}

span.loading {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-top: 3px solid #999;
    border-right: 3px solid #999;
    transition: 0.3s;
    animation: rotate 1s infinite;
    display: block;
    border-radius: 20px;
}

@keyframes rotate {
    0% { transform: rotate(0deg) }
    25% { transform: rotate(90deg) }
    50% { transform: rotate(180deg) }
    75% { transform: rotate(270deg) }
    100% { transform: rotate(360deg) }
}

.redirect {
    display: none;
}

.logo {
    height: 8em;
}

.window {
    height: 100%;
    width: 100%;    
    display: flex;
    flex-direction: row;
}

.menu {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > div {
    width: 100%;
}

.menu i, button.no-settings i {
    font-size: 25px;
    color: #b4b4b4;
    padding: 0.5em 1em;
}

a.active i {
    color: #265e9b;
}

button.no-settings {
    background: none;
    border: none;
}

.head {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head img {
    height: 5em
}

.routes {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3em 0;
}

.routes a {
    padding: 0;
}

.profile-icon {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-icon button {
    display: flex;
    justify-items: center;
    align-content: center;
    padding: 0.5em 1em;
    color: #808080;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.profile-icon p {
    color: #808080;
}

.view {
    height: 100%;
    flex: 7;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
}

.title {
    margin-bottom: 1em;
    flex: 1;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.title h1 {
    margin: 0;
    padding: 0.5em;
    font-size: 40px;
    color: #808080
}

.files-view {
    flex: 7;
    overflow: hidden;
}

.dash {
    height: 100%;
    overflow-y: scroll;
}

.actionBar {
    display: flex;
    justify-content: space-evenly;
}

button {
    cursor: pointer;
}

.actionBar button {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 0.5em;
    width: 10em;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.dirview {
    display: grid;
    padding: 2em;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.2fr));
    grid-auto-rows: 100px;
}

div.file-manager-item {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    border-radius: 3px;
    justify-items: center;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: #404040;
    transition: 0.3s;
}

div.file-manager-item.selected {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

div.icon i {
    color: #265e9b;
    font-size: 30px;
}

.ql-editor {
    min-height: 15em;
    height: auto;
    max-height: 35em;
}

div.servers {
    width: 50%;
    margin-left: 1em;
}

div.servers > div.row {
    margin-bottom: 1em;
}

input.server {
    font-size: 18px;
    width: 100%;
    padding: 0.5em;
    color: #404040;
    border-bottom: 1px solid #404040;
}

input.server:focus {
    color: #404040;
}